{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Dashboard | SnippetBin</title>{% endblock title %} 

{% block content %} 

<div class="mk-container">
  <div class="snippet-card" style="width:90%">
    <div class="card-left-content">
      <div class="upper-content">
        <h4>{{ user.name }}</h4>
      </div>
      <div class="lower-content">
        <span>{{ user.email }}</span>
      </div>
    </div>
    <div class="card-right-content">
      <a style="color: lightgrey"><small>Joined on {{ user.date_joined|date:"M d, Y" }}</small></a>
    </div>
  </div>
</div>

<div class="mk-container">
  <h1 class="text-center mb-5">User Snippets</h1>
  <div class="snippets-wrapper">

    {% if snippets %}
      {% for snippet in snippets %}
        <div class="snippet-card">
          <div class="card-left-content">
            <div class="upper-content">
              {% if snippet.is_encrypted %}
                <i class="fa fa-lock mr-2"></i>
              {% endif %}
              <a href="{% url 'snippet:snippet_detail' snippet.id %}" class="snippet-title">{{ snippet.title }}</a>
            </div>
            <div class="lower-content">
              <span>{{ snippet.user.username }}</span>
              <span>{{ snippet.extract_delta_datetime }}</span>
            </div>
          </div>
          {% if not is_other_user and not snippet.if_has_expired %}
            <div class="card-right-content">
              <a href="{% url 'snippet:snippet_edit' snippet.id %}"><i class="fa fa-pencil"></i></a>
            </div>
          {% endif %}
          {% if snippet.if_has_expired %}
            <div class="card-right-content">
              <a style="color: #fff"><i class="fa fa-hourglass-end" style="font-size:0.75rem"></i></a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <div class="message-box border">
        <h4 class="mb-4">User has not added any snippets</h4>
        {% if not is_other_user %}
          <a href="{% url 'snippet:snippet' %}" class="dashboard button snippet-btn"><i class="fa fa-plus"></i> CREATE SNIPPET</a>
        {% endif %}
      </div>
    {% endif %}

  </div>
</div>

{% endblock content %}