{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Home | SnippetBin</title>{% endblock title %} 

{% block content %} 

<div class="mk-container form-wrapper">
  <div class="snippets-wrapper">
    <h1 class="text-center">Public Snippets</h1>

    <div class="snippet-card">
      <div class="card-left-content">
        <div class="upper-content">
          <a href="#" class="snippet-title">This is Title</a>
        </div>
        <div class="lower-content">
          <span>mohitkumar124927</span>
          <span>12 hrs ago</span>
        </div>
      </div>
      <div class="card-right-content">
        <a href="#"><i class="fa fa-pencil"></i></a>
      </div>
    </div>

    <div class="snippet-card">
      <div class="card-left-content">
        <div class="upper-content">
          <a href="#" class="snippet-title">This is Title</a>
        </div>
        <div class="lower-content">
          <span>mohitkumar124927</span>
          <span>12 hrs ago</span>
        </div>
      </div>
      <div class="card-right-content">
        <a href="#"><i class="fa fa-pencil"></i></a>
      </div>
    </div>

    <div class="snippet-card">
      <div class="card-left-content">
        <div class="upper-content">
          <a href="#" class="snippet-title">This is Title</a>
        </div>
        <div class="lower-content">
          <span>mohitkumar124927</span>
          <span>12 hrs ago</span>
        </div>
      </div>
      <div class="card-right-content">
        <a href="#"><i class="fa fa-pencil"></i></a>
      </div>
    </div>


  </div>
</div>

{% endblock content %}