{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Home | SnippetBin</title>{% endblock title %} 

{% block content %} 

<div class="mk-container">
  <h2 class="text-center mb-4">Recent Snippets</h2>
  <div class="snippets-wrapper">
    <div class="spinners w-100 text-center" style="position: relative;left: 50%;">
      <div class="spinner-border spinner-border-lg text-primary"></div>
    </div>
  </div>

  <div class="load-more-btn-div mt-5"></div>
</div>

<script type="module" src="{% static 'js/home.js' %}?{% now 'U' %}"></script>

{% endblock content %}