{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Create Snippet | SnippetBin</title>{% endblock title %} 

{% block content %} 

<div class="mk-container form-wrapper">
  <form id="create-snippet-form">
    <h2 class="mb-5 font-weight-bold">Create A Snippet</h2>
    
    <h4 class="mb-3 font-weight-bold">New Snippet</h4>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title for Snippet" spellcheck="false" >
    </div>
    <div class="form-group">
      <label for="snippet">Your Snippet</label>
      <textarea type="password" class="form-control" id="snippet" name="snippet" rows="15" placeholder="Write/Paste your Snippet" spellcheck="false"></textarea>
    </div>

    <h4 class="mt-5 mb-4 font-weight-bold">Snippet Configuration</h4>
    <div class="form-group w-50">
      <label for="expiry">Snippet Expiry</label>
      <select id="expiry" name="expiry" class="form-control">
        <option selected>Never</option>
        <option>1 day</option>
      </select>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="encryption" name="encryption">
        <label class="form-check-label" for="encryption">
          Set Encrytion
        </label>
      </div>
    </div>

    <div class="form-group encryption-key-div">
      <label for="encryption-key">Encryption Key</label>
      <input type="text" class="form-control" id="encryption-key" name="encryption-key" placeholder="Enter Encryption Key" spellcheck="false">
    </div>
    <button type="submit" class="btn btn-primary d-flex justify-content-center form-submit"  style="width:250px; padding: 0.7rem 1rem;">
      <span>CREATE NEW SNIPPET</span>
      <div class="spinner"></div>
    </button>
  </form>
</div>

<script type="module" src="{% static 'js/c_snippet.js' %}?{% now 'U' %}"></script>

{% endblock content %}