{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login | SnippetBin</title>{% endblock title %} 

{% block content %} 

<div class="mk-container form-wrapper">
  <form method="post">
    {% csrf_token %}
    <h3 class="mb-4 font-weight-bold">Login Form</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="mohit123@gmail.com" required spellcheck="false">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="************" required>
    </div>
    <button type="submit" class="btn btn-primary" style="width:200px; padding: 0.7rem 1rem">LOG IN</button>
  </form>
</div>

{% endblock content %}